spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/ticketflow_db
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    token:
      secret: ${SECURITY_TOKEN_SECRET:secret-jwt-token-key-dev}
      issuer: ${SECURITY_TOKEN_ISSUER:ticketflow-api}
