spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/ticketflow_db
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    token:
      secret: ${SECURITY_TOKEN_SECRET:secret-jwt-token-key-dev}
      issuer: ${SECURITY_TOKEN_ISSUER:ticketflow-api}
    jwt:
      access-token:
        expiration-hours: 2
      refresh-token:
        expiration-seconds: 604800
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  cache:
    type: redis
    host: localhost
    port: 6379
    redis:
      time-to-live: 60000